header {
  text-align: center;
  font-family: "Snell Roundhand", "cursive";  
}

img {
  max-width: 100%;
  width: 600px;
  border-radius: 12px;
}

hr.margin {
  margin-top: 3em;
}

main {
  padding-bottom: 3em;
}
